<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <localRepository/>
  <interactiveMode/>
  <usePluginRegistry/>
  <offline/>
  <pluginGroups/>
  <servers>
     <server>
       <id>webpim-release-local</id>
       <username>webpim-build</username>
       <password>webpim-build</password>
     </server>
     <server>
       <id>webpim-snapshot-local</id>
       <username>webpim-build</username>
       <password>webpim-build</password>
     </server>
  </servers>
  <mirrors/>
  <proxies/>
  <profiles/>
  <activeProfiles>
    <activeProfile>was6</activeProfile>
  </activeProfiles>
</settings>
